@font-face {
    font-family: nms-sans;
    src: url(../fonts/NMSGeoSans_Kerned.ttf);
}
@font-face {
    font-family: nms;
    src: url(../fonts/NMSFuturaProBook_Kerned.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: futura;
    src: url(../fonts/NMSFuturaProBook_Kerned.ttf);
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px #fff; 
}

::-webkit-scrollbar-thumb {
  background-color: #00000073; 
  border-radius: 10px;
  transition: 600ms ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #244a75; 
}

body {
    background-color: #fff;
}
* {
    font-family: roboto, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 80px;
    overflow: hidden;
    background-color: #000;
    box-shadow: 4px 4px 5px #101010cc;
}
label.logo {
    float: left;
    color: #fff;
    font-size: 4rem;
    font-family: nms,sans-serif,arial;

    line-height: 70px;
    padding: 10px 50px;
    height: 100%;
}
.list {
    float: right;
}
.dropdown-button {
    display: none;
}
a.navlinks,.list {
    float: right;
    font-family: nms,sans-serif,arial;
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem 1vw;
    text-decoration: none;
    transition: 400ms ease-out;
}
/*a.navlinks, .list:nth-child(2) {
    margin-right: 3rem;
}*/

.list:hover, .list:active {
    background-color: #303030;
}
.author.section {
    background-image: url("../images/backgrounds/binary.jpg");
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: cover;
}
.skills.section {
    background-color: #000;
    box-shadow: 0px -20px 20px #000;   
}
.achievements.section {
    box-shadow: 0px 20px 20px #000 inset;
    background: linear-gradient(45deg, #000, #282828, #303030);
}
.section {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100vh;
    width: 100%;

    box-shadow: 0px -100px 100px #000 inset;
}
.title{
    width: 40vw;
}
.page-title {
    font-family: nms-sans,sans-serif,arial;
    color: #fafafa;
    font-size: clamp(8rem, 5vw,2rem);
    width: fit-content;
}
.description {
    font-size: 16px;
    color: #fff;
    background-color: #303030;
    padding: 20px;
    border-radius: 20px;
}
.skills > span {
    font-weight: bold;
    margin: 5px 0px;
}
.description > ul > li {
    text-indent: 1rem;
    text-align: left;
    line-height: 1.5rem;
}
.details-section{
    width: 30vw;
    height: fit-content;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.detail-content > ul > li {
    text-indent: 1rem;
    margin: 5px;
}
.image {
    width: 100%;
    border-bottom: 1px #fff solid;
    box-shadow: 0px 0px 10px #000;
    border-radius: 20px 20px 0px 0px;
    transition: 400ms;
}
.detail-content {
    width: 100%;
    padding: 20px;
    height: 100%;
    background: #282828;
    box-shadow: 0px -10px 40px #282828;
    border-radius: 0px 0px 50px 50px;
    transition: height 500ms ease-out;
    color: #fff;
    font-family: futura, sans-serif;
}
.traveller-img:hover {
    box-shadow: 0px 0px 10px #fff;
}
#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;

    padding-bottom: 15rem;
}
.heading, .heading-content {
    margin-top: 1rem;
    margin-left: 4%;
    align-self: flex-start;
}
.heading {
    font-size: 20px;
}
.heading-content {
    width: 32vw;
    font-size: 30px;
}
.main-content {
    display: block;
}
.content_img1_wrapper {
    display: inline;
    margin-left: 10%;

    background-color: #000;
}
.content_img1 {
    display: inline;
    width:43vw;
    height: 110vh;

    border: 1px solid #fff;
    border-radius: 2px;
}
.contents-wrapper {
    display: inline;
    float: right;

    margin-right: 10%;
    width: 30vw;
}
.contents {
    color: #fff;
    font-family: nms;
    font-size: 22px;
    display: block;

    margin-top: 3rem;
    margin-left: 4%;
}

@media (max-width:801px) {
    .dropdown-button{
        cursor: pointer;
        display: inline-block;
    }
    .dropdown .dropdown-button {
        font-size: 16px;  
        border: none;
        outline: none;
        color: #000;
        padding: 14px 16px;
        background-color: #fff;
        font-family: inherit;
        margin: 0;
    }
    .dropdown > ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #fff;
        z-index: 1;
        transition: 400ms ease-out;
    }
      
    .dropdown > ul {
        display: none;
    }
    .dropdown-button:active {
        background: #505050;
    }
    .dropdown > ul a {
        float: none;
        color: #000;
        padding: 5px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
      
    .dropdown > ul.active {
        display: block;
    }
    .dropdown > ul > li:hover > a {
        color: #fff;
    }
    .list {
        width: 100%;
        font-size: 12px;
    }


    .section{
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        height: fit-content;
    }
    .page-title{
        margin: 5vh;
        font-size: 12vw;
    }
    .logo{
        padding: 5px;
    }
    .description {
        border-top: 2px solid #979797;
        border-bottom: 2px solid #979797;
        border-radius: 0px; 
        font-size: 12px;
    }
    .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .details-section {
        width: 100vw;
    }
    .detail-content{
        border-radius: 0px;
    }
    .image{
        border-radius: 0px;
    }
    .detail-content {
        border-radius: 0px;
    }
}